<html>
<form action="/search" id="form" method="GET">
Search:<input type="text" name="s"></input>
Year:<input type="text" name="y"></input>
<input type="submit" value="Search Movie">
</form>

<div><%if(locals.search){%>
    <ul><%if(Array.isArray(search)){
            for(s of search){%>
            <li>
                <%=s.Title %><br>
                <%=s.Year %><br>
                <%=s.description %><br>
            </li>
       
        <%}}%>
    </ul>
<%}%>
</div>
</html>